<h1>Visualization#new</h1>
<p>Find me in app/views/visualization/new.html.erb</p>

<h1>Create New Visualization</h1>

<div class="row">
   <div class="col-md-6 col-md-offset-3">
     <%= form_with(model: @visualization, local: true) do |f| %>
       <label for="chart_type">Chart Type</label>
       
       <%= f.radio_button :chart_type, 'bar' %>
       <label for="chart_type_bar">Bar</label>
       
       <%= f.radio_button :chart_type, 'pie' %>
       <label for="chart_type_pie">Pie</label>
       
       <%= f.radio_button :chart_type, 'line' %>
       <label for="chart_type_line">Line</label>
       
       <label for="x_axis_title">X Axis Title</label>
       <% f.text_field :x_axis_title %>
       
       <label for="y_axis_title">Y Axis Title</label>
       <% f.text_field :y_axis_title %>
       
       <label for="chart_title">Chart Title</label>
       <% f.text_field :chart_title %>
       
       Variables:
       <ul>
         <%= f.fields_for :variables do |variables_form| %>
         <li>
           <label for="name">Name</label>
           
           <%= f.radio_button :name, 'class_year' %>
           <label for="name_class_year">Class Year</label>
           
           <%= f.radio_button :name, 'major1' %>
           <label for="name_major1">Major 1</label>
           
           <%= f.radio_button :name, 'major2' %>
           <label for="name_major2">Major 2</label>
           
           <%= f.radio_button :name, 'gender' %>
           <label for="name_gender">Gender</label>
           
           <%= f.radio_button :name, 'fed_group' %>
           <label for="name_fed_group">Fed Group</label>
           
           <%= f.radio_button :name, 'intern' %>
           <label for="name_intern">Intern</label>
           
           <%= f.radio_button :name, 'research' %>
           <label for="name_research">Research</label>
           
           <%= f.radio_button :name, 'service' %>
           <label for="name_service">Service</label>
           
           <%= f.radio_button :name, 'career_related' %>
           <label for="name_career_related">Career Related</label>
           
           <%= f.radio_button :name, 'job_field' %>
           <label for="name_job_field">Job Field</label>
         </li>
        <% end %>
       </ul>
      <% end %>
   </div>
</div>
  