<h1 class="page_title">Log in</h1>

<div class="login-form">
  <div  class="login-form-section">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div  class="login-form-section">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div  class="login-form-section">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
