<!-- Form for editing visualizations -->
<!-- Used in app/views/visualizations/edit.html.erb -->
<!--  NOTE: IDENTICAL TO OTHER FORM EXCEPT FOR SETUP. -->
<!--        MAY NOT BE NECESSARY, OTHER FORM MAY WORK FOR BOTH NEW AND EDIT. -->
<!--        TEST THOROUGHLY BEFORE DELETING. -->
<div class="col-md-10 col-md-offset-1">

  <!-- Setup (different from _form.html.erb) -->
  <%= form_with(model: @visualization, local: true, url: visualization_path(@visualization), method: "patch") do |f| %> 
  <%= render 'shared/error_messages', object: f.object %>

	<!--Section 1: Chart Type [required]-->
  <div class="viz-form-section">
    <h4 class="viz-step">Step 1 - Select Chart Type</h4>
    <div class="form-row">
      <div class="viz-form-group">
	<label for="chart_type">Chart Type <span style="color:red;">*</span></label>
	<%= f.select :chart_type, options_for_select(get_form_chart_types, @visualization.chart_type), prompt: "Select chart", class: 'form-control' %>
	<!--dropdown for char types-->
	<!--how options_for_select works: -->
	<!--  options_for_select([value1, value2, value3], default) -->
      </div>
    </div>
  </div>

  <!-- Section 2: Chart Variable(s) [at least 1 required] -->
  <div class="viz-form-section">
    <h4 class="viz-step">Step 2 - Select Chart Variables</h4>
    <div class="chart-variables">
      <b>Chart Variables <span style="color:red;">*</span></b>
      <ul>
	<!-- Iterate through variables: -->
	<%= f.fields_for :variables do |variables_form| %>
	<li class="form-row">

	  <!--dropdown for group names-->
	  <div class="viz-form-group">
	    <label for="name">Group Variable</label></label>
	    <%= variables_form.select :name, options_for_select(get_group_variable_names, @visualization.variables[variables_form.index].name), prompt: "Select variable", class: 'form-control' %>
	  </div>
	  
	  <!--dropdown for outcome names-->
	  <div class="viz-form-group">
	    <label for="name">Outcome Variable</label></label>
	    <%= variables_form.select :name, options_for_select(get_outcome_variable_names, @visualization.variables[variables_form.index].name), prompt: "Select variable", class: 'form-control' %>
	  </div>
	</li>
	<% end %>
      </ul>
    </div>
    <br><br>

    <!-- Section 3: Chart and Axis Titles [optional; auto-fills] -->
    <div class="viz-form-section">
      <h4 class="viz-step">Step 3 - Fill Chart Details (optional) </h4>
      <div class="chart-details form-row">

	<!--write-in field for chart title-->
	<div class="viz-form-group">
	  <label for="chart_title">Chart Title</label>
	  <%= f.text_field :chart_title, class: 'form-control' %>
	</div>

	<!--write-in field for x axis title-->
	<div class="viz-form-group">
	  <label for="x_axis_title">X Axis Title</label>
	  <%= f.text_field :x_axis_title, class: 'form-control' %>
	</div>

	<!--write-in field for y axis title-->
	<div class="viz-form-group">
	  <label for="y_axis_title">Y Axis Title </label>
	  <%= f.text_field :y_axis_title, class: 'form-control' %>
	</div>
      </div>
    </div>
  </div>

  <!-- FORM SUBMIT BUTTON -->
  <%= f.submit "Create Visualization!", class: "btn btn-primary" %>
  <% end %>
</div>
