<!-- Form for creating and editing visualizations -->
<div class="col-md-10 col-md-offset-1">
	
	<!-- Setup -->
	<% form_builder = locals[:fb] %>
  <%= render 'shared/error_messages', object: form_builder.object %>

	<!--Section 1: Chart Type [required]-->
  <div class="viz-form-section">
    <h4 class="viz-step">Step 1 - Select Chart Type (required) </h4>
    
    <div class="form-row">
      
      <div class="viz-form-group">
				<label for="chart_type">Chart Type <span style="color:red;">*</span></label>
				<%= form_builder.select :chart_type, options_for_select(get_form_chart_types, @visualization.chart_type), 
					prompt: "Select chart", class: 'form-control' 
				%>
				<!-- 2nd arg to options_for_select is default value -->
      </div>
      
    </div>
    
  </div>

  <!-- Section 2: Chart Variables  -->
  <div class="viz-form-section">
    <h4 class="viz-step">Step 2 - Select Chart Variables (both required) </h4>
    
    <div class="chart-variables">
      <b>Chart Variables <span style="color:red;">*</span></b>
      
      <ul>
				<!-- Iterate through variables: -->
				<%= form_builder.fields_for :variables do |var_form| %>
				
				<li class="form-row">
					<% 
						if (var_form.index == 0)
						var_role = "Group"
						var_name_options = get_group_variable_names
						else
						var_role = "Outcome"
						var_name_options = get_outcome_variable_names
						end
					%>
				

	  			<div class="viz-form-group">
	  				<!--dropdown to select variable name-->
	    			<label for="name"><%= var_role %> Variable</label>
	    			<%= var_form.select :name, 
	    				options_for_select(var_name_options, @visualization.variables[var_form.index].name), 
	    				prompt: "Select variable", class: 'form-control' 
	    			%>
	  		
	  				<!-- set variable role -->
						<%= var_form.hidden_field :role, value: var_role %>
	  			</div>
	  		
				</li>
				<% end %>
	
      </ul>
      
    </div>
  </div>
  <br><br>

    <!-- Section 3: Chart and Axis Titles [optional; auto-fills] -->
  <div class="viz-form-section">
    <h4 class="viz-step">Step 3 - Fill Chart Details (optional) </h4>
      
    <div class="chart-details form-row">

			<!--write-in field for chart title-->
			<div class="viz-form-group">
	  		<label for="chart_title">Chart Title</label>
	  		<%= form_builder.text_field :chart_title, class: 'form-control' %>
			</div>

			<!--write-in field for x axis title-->
			<div class="viz-form-group">
	  		<label for="x_axis_title">X Axis Title</label>
	  		<%= form_builder.text_field :x_axis_title, class: 'form-control' %>
			</div>

			<!--write-in field for y axis title-->
			<div class="viz-form-group">
	  		<label for="y_axis_title">Y Axis Title </label>
	  		<%= form_builder.text_field :y_axis_title, class: 'form-control' %>
			</div>
				
    </div>
      
  </div>

  <!-- FORM SUBMIT BUTTON -->
  <%= form_builder.submit "Create Visualization!", class: "btn btn-primary" %>
</div>