<h1 class="page-title">Visualization #<%=@visualization.id%>: <%=@visualization.chart_title%></h1>
<div class="navigation-options">
    <%= link_to 'Edit', edit_visualization_path(@visualization) %> | <%= link_to 'Back', visualizations_path %>
</div>
<%= render "chart", locals: {id: params[:id]}%>
