<h1 class="page-title">Visualization #<%=@visualization.id%>: <%=@visualization.chart_title%></h1>
<div class="navigation-options">
    <%= link_to '< Back', visualizations_path %> | 
    <%= link_to 'Edit', edit_visualization_path(@visualization) %> | 
    <%= link_to 'Delete', visualization_path(@visualization.id), method: :delete, 
        data: {confirm: "Are you sure you want to delete?"} %>
</div>
<%= render "chart", locals: {id: @visualization.id}%>
