<!-- Page for uploading CSV data -->
<html lang="en">
<h1 class="page-title">Upload</h1>
<p>1. Please choose a .csv file from your system containing graduate outcomes data that you would like to upload to the website. </p>
   <h5 style="color: rgb(153,0,0)">* The file headers must match the following format: class_year, student_id, major1, major2, gender, fed_group, intern, research, service, career_related, job_field, FDS_cat, gs_select, gs_level, gs_type  * </h5>

<div>
    <%= form_with url: uploads_import_path, multipart: true do %>
    <%= file_field_tag :file %>
    <br>
    <p>2. After you have chosen the file, click Submit to store the .csv file's data on the website. <i>Note: Only entries for which all categories have an associated value will be uploaded.</i></p>
    <%# if @errors %>
      <%# @errors.each do |message| %>
        <%#= message %>
      <%# end %>
    <%# end %>
    <%= submit_tag "Submit" %>
    <% end %>
    <br>
    <p>3. After repeating steps 1 and 2 as many times as necessary to upload all of your .csv data files, navigate to the Visualize page in order to use your uploaded data to create visualizations.</p>
    <%= link_to "Visualize", new_visualization_path, class: "btn btn-primary" %>
</div>

<div class="datasets-section">
    <h3 style="font-weight: bold;">Datasets</h3>
    <div class="uploads-thumbnail-group">
        <%get_unique_class_years.each do |year_hash|%>
        <%= render "thumbnail", locals: {year_hash: year_hash}%>
        <%end%>
    </div>
</div>
</html>
