<footer class="footer-container">
    <div class="footer-section">
        <p class="footer-section-title"> Grinnell College Graduate Outcomes Portal</p>
        <div class="footer-section-content">
            <p class="footer-address">Careers Life and Services,<br>
                1103 Park Street,<br>
                Grinnell IA, <br>
                United States
            </p>
        </div>
    </div>

    <div class="footer-section">
        <p class="footer-section-title"> Pages</p>
        <div class="footer-section-content">
            <%= link_to  "Preview", visualization_index_path %>
            <%= link_to  "Visualize", visualization_new_path %>
            <%= link_to  "Upload", upload_index_path %>
        </div>

    </div>

    <div class="footer-section">
        <p class="footer-section-title"> Help</p>
        <div class="footer-section-content">
            <%= link_to  "About", '#' %>
            <%= link_to  "Documentation", '#' %>
            <%= link_to  "FAQ", '#' %>
        </div>
    </div>

    <div class="footer-section">
        <p class="footer-section-title"> External Links</p>
        <div class="footer-section-content">
            <%= link_to  "Grinnell Website", 'https://www.grinnell.edu' %>
            <%= link_to  "CLS Page", 'https://www.grinnell.edu/after-grinnell/cls' %>
            <%= link_to  "Handshake", 'https://grinnell.joinhandshake.com/login' %>
        </div>
    </div>

</footer>