<nav class="navbar-container">
    <ul>
        <li class="nav-item"> <%= image_tag  "navbar/bar-chart.svg" %> <%= link_to "Preview", '#'  %></li>
        <li class="nav-item"><%= image_tag  "navbar/plus-circle.svg" %> <%= link_to "Create", '#' %></li>
        <li class="nav-item"><%= image_tag  "navbar/upload.svg" %> <%= link_to "Upload", '#' %></li>
    </ul>
</nav>