<nav class="navbar-container">
    <ul>
        <li class="nav-item"> <%= image_tag  "navbar/bar-chart.svg" %> <%= link_to "Preview", visualization_index_path  %></li>
        <li class="nav-item"><%= image_tag  "navbar/plus-circle.svg" %> <%= link_to "Create", visualization_create_path %></li>
        <li class="nav-item"><%= image_tag  "navbar/upload.svg" %> <%= link_to "Upload", upload_index_path %></li>
    </ul>
</nav>