<nav class="navbar-container">
    <ul>
        <li class="nav-item"> <%= image_tag  "navbar/bar-chart.svg" %> <%= link_to "Preview", visualizations_path  %></li>
        <li class="nav-item"><%= image_tag  "navbar/plus-circle.svg" %> <%= link_to "Visualize", new_visualization_path %></li>
        <li class="nav-item"><%= image_tag  "navbar/upload.svg" %> <%= link_to "Upload", uploads_path %></li>
    </ul>
</nav>