<h1 class="page-title">Approve Emails</h1>

<!--For more info about CSS classes, see app/assets/stylesheets/sessions.scss-->
<!--and for email list styling (below), see app/assets/stylesheets/users.scss-->
<div class="login-form">
    <%= form_with(model: @valid_email, local: true) do |f| %>
  <div class="login-form-section">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class="login-form-section">
      <%= f.submit "Add email", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<!--Email list-->
<h3 class="page-subtitle">List of Current Approved Emails</h3>
<ul class="emails">
  <% @valid_emails.each do |valid_email| %>
   <li>
     <%= valid_email.email %>
     <% unless current_user.email.eql?(valid_email.email) %>
     | <%= link_to "delete", valid_email, method: :delete,
                                   data: { confirm: "Are you sure you want to delete?" } %>
      <% end %>
   </li>
  <% end %>
</ul>
